.settings__setting{
    display: flex;
    padding:20px 0;
    border-bottom: var(--main-border);
    font-size: 18px;
    align-items: center;
    justify-content: space-between;
}
.settings__setting-column i{
    opacity: 0.8;
    margin-right:20px;
}
.settings_setting-column{
    opacity: 0.5;
}