.user-component{
    justify-content: space-between;
}
.user-component,
.user-component-colum:nth-child(1){
    display: flex;
    align-items: center;
}
.user-component-avatar{
    width: 70px;
    height: 70px;
    border-radius: 30px;
    margin-right: 20px;
}
.user-component-title{
    font-weight:600;
    font-size: 22px;
}
.user-component-subtitle{
    margin-top:8px;
    color: rgba(0,0,0,0.5);
    font-size:16px;
}
.user-component-avatar-xl{
    width: 80px;
    height: 80px;
}
.user-component-avatar-sm{
    width: 60px;
    height: 60px;
    border-radius:25px;
}
.user-component__title--not-bold{
    font-weight:400;
}

.user-component__column:last-child{
    color:rgba(0,0,0,0.5);
}